@font-face {
  font-family: "ff-tisa-web-pro";
  src: url("https://use.typekit.net/af/8bcf67/00000000000000003b9b0789/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/8bcf67/00000000000000003b9b0789/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/8bcf67/00000000000000003b9b0789/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "ff-tisa-web-pro";
  src: url("https://use.typekit.net/af/caf812/00000000000000003b9b0787/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/caf812/00000000000000003b9b0787/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/caf812/00000000000000003b9b0787/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "ff-tisa-web-pro";
  src: url("https://use.typekit.net/af/3b914c/00000000000000003b9b0784/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/3b914c/00000000000000003b9b0784/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/3b914c/00000000000000003b9b0784/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "ff-tisa-web-pro";
  src: url("https://use.typekit.net/af/0ae3cf/00000000000000003b9b0785/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/0ae3cf/00000000000000003b9b0785/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/0ae3cf/00000000000000003b9b0785/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.tk-ff-tisa-web-pro { 
  font-family: "ff-tisa-web-pro",serif; 
}

@font-face {
  font-family: "CeraPRO";
  font-weight: 700;
  font-style: normal;
  src: url("https://static-cdn.blinkist.com/webfonts/323ED8_0_0.woff2") format("woff2"), url("https://static-cdn.blinkist.com/webfonts/323ED8_0_0.woff") format("woff")
}

@font-face {
  font-family: "CeraPRO";
  font-weight: 500;
  font-style: normal;
  src: url("https://static-cdn.blinkist.com/webfonts/323ED8_1_0.woff2") format("woff2"), url("https://static-cdn.blinkist.com/webfonts/323ED8_1_0.woff") format("woff")
}

@font-face {
  font-family: "CeraPRO";
  font-weight: 400;
  font-style: italic;
  src: url("https://static-cdn.blinkist.com/webfonts/323ED8_2_0.woff2") format("woff2"), url("https://static-cdn.blinkist.com/webfonts/323ED8_2_0.woff") format("woff")
}

@font-face {
  font-family: "CeraPRO";
  font-weight: 400;
  font-style: normal;
  src: url("https://static-cdn.blinkist.com/webfonts/323ED8_3_0.woff2") format("woff2"), url("https://static-cdn.blinkist.com/webfonts/323ED8_3_0.woff") format("woff")
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "CeraPRO";
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  color: #3a4649;
  margin-bottom: 1em !important;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #116be9;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold !important;
  margin-bottom: 1em !important;
}

h5 {
  display: block;
  font-size: 0.83em !important;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold !important;
  margin-bottom: 1em !important;
}

.font-cera-pro {
  font-family: CeraPro !important
}
.font-tisa-pro {
  font-family: ff-tisa-web-pro !important
}

.text-mid-grey {
  --tw-text-opacity: 1 !important;
  color: rgb(109 120 126 / var(--tw-text-opacity)) !important
}
.text-dark-grey {
  --tw-text-opacity: 1 !important;
  color: rgb(58 70 73 / var(--tw-text-opacity)) !important
}

.border-green {
  --tw-border-opacity: 1 !important;
  border-color: rgb(44 224 128 / var(--tw-border-opacity)) !important
}

.border-light-grey {
  --tw-border-opacity: 1 !important;
  border-color: rgb(186 200 206 / var(--tw-border-opacity)) !important
}

.hover\:border-green:hover {
  --tw-border-opacity: 1 !important;
  border-color: rgb(44 224 128 / var(--tw-border-opacity)) !important
}

.focus\:border-green:focus {
  --tw-border-opacity: 1 !important;
  border-color: rgb(44 224 128 / var(--tw-border-opacity)) !important
}

.hover\:text-blue:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(3 101 242 / var(--tw-text-opacity)) !important
}

.group:hover .group-hover\:bg-green {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(44 224 128 / var(--tw-bg-opacity)) !important
}

.text-r2 {
  font-size: 1.125rem !important;
  line-height: 1.625 !important
}

.text-r1 {
  font-size: 1.5rem !important;
  line-height: 2.25 !important
}

.text-r0 {
  font-size: 1.75rem !important;
  line-height: 2.625 !important
}

.text-h35 {
  font-size: 1.375rem !important;
  line-height: 1.875rem !important
}

.mr-0 {
  margin-right: 0px !important
}

.pt-10 {
  padding-top: 2.5rem !important
}

.pt-6 {
  padding-top: 1.5rem !important
}

.text-mid-grey {
  --tw-text-opacity: 1 !important;
  color: rgb(109 120 126 / var(--tw-text-opacity)) !important
}

.reader {
  height: 100vh;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch
}

.page {
  flex-grow: 1;
  background-color: #fff
}

.reader-audio {
  width: 100%;
  background-color: #042330
}

.reader-audio__container {
  padding: 0
}

.reader-audio__chapter {
  display: none
}

@media(min-width: 768px) {
  .reader-audio__chapter {
    display: flex;
    flex-basis: 20%
  }
}

.reader-audio__player {
  flex-basis: 100%
}

@media(min-width: 768px) {
  .reader-audio__player {
    flex-basis: 80%
  }
}

.reader-audio-player-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center
}

.reader-audio-player-mobile__chapter-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem;
  cursor: pointer
}

.reader-audio-player-mobile__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px
}

.reader-audio-player-mobile__arrow {
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/arrow-d2d37e9ec634c0dd41fa.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: 0;
  cursor: pointer
}

.reader-audio-player-mobile__arrow--hidden {
  display: none
}

.reader-audio-player-mobile__arrow:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/arrow-green-8765ec5be3bcc18371ac.svg)
}

.reader-audio-player-mobile__pause {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/pause_filled-f0747e1313683353b852.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: 0;
  cursor: pointer
}

.reader-audio-player-mobile__play {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/mobile-play-715e260d5479f0fedf6c.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: 0;
  cursor: pointer
}

.reader-audio-player-mobile__audio-wrapper {
  width: 100%;
  border-top: 1px solid #314a54;
  transition: max-height .7s ease-in-out
}

.reader-audio-player-mobile__progress {
  margin-bottom: 1.5rem;
  padding: 0 1rem
}

.reader-audio-player-mobile .slide-down-enter-to,
.reader-audio-player-mobile .slide-down-leave {
  max-height: 290px
}

.reader-audio-player-mobile .slide-down-enter,
.reader-audio-player-mobile .slide-down-leave-to {
  max-height: 0
}

.reader-audio-player-mobile__controls {
  flex-direction: column-reverse;
  align-items: center
}

.reader-chapter-indicator {
  display: flex;
  width: 100%;
  min-width: auto;
  color: #fff;
  font-weight: 500;
  font-size: .75rem;
  font-family: "CeraPRO";
  line-height: 1.3
}

.reader-chapter-indicator__book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.reader-chapter-indicator__counter {
  display: inline-block
}

.reader-chapter-indicator__book-cover-wrapper {
  max-width: 3.5rem;
  padding-right: 1rem
}

.reader-chapter-indicator__chapter:after {
  content: " - "
}

.reader-chapter-indicator__author {
  color: #bac8ce
}

@media(min-width: 768px) {
  .reader-chapter-indicator {
    font-size: .875rem
  }
}

.reader-chapter-mobile {
  display: flex;
  width: 100%;
  min-width: auto;
  color: #fff;
  font-weight: 500;
  font-size: .75rem;
  font-family: "CeraPRO";
  line-height: 1.3
}

.reader-chapter-mobile__book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.reader-chapter-mobile__counter {
  display: inline-block
}

.reader-chapter-mobile__chapter:after {
  content: "-"
}

.reader-chapter-mobile__book-cover-wrapper {
  max-width: 3.5rem;
  padding-right: 1rem
}

.reader-chapter-mobile__status {
  color: #bac8ce
}

.reader-chapter-mobile__title {
  font-size: .875rem
}

.pict--whitespace-fix {
  font-size: 0;
}

.pict--rendering-pixelated {
  image-rendering: pixelated;
}

.book-cover__image {
  display: block;
  width: 100%;
  border-radius: .25rem
}

.audio-progress {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem
}

.audio-progress__element {
  padding-right: 1rem
}

.audio-progress__element--progress {
  flex-grow: 1
}

.audio-progress__element--total {
  color: #fff
}

@media(max-width: 767px) {
  .audio-progress__element--total {
    padding-right: 0
  }
}

.audio-progress__remaining-time {
  min-width: 3em;
  color: #fff;
  font-size: .875rem
}

.audio-progress__total-time {
  font-size: .875rem
}

.audio-progress__progress {
  width: 100%;
  background-color: #6d787e
}

@media(min-width: 768px) {
  .audio-progress {
    margin-top: 0
  }
}

.dark-ranger {
  position: relative;
  min-width: 5rem;
  height: .25rem;
  padding-right: .375rem;
  border-radius: 4px
}

.dark-ranger--vertical {
  position: absolute;
  bottom: 2rem;
  left: -2rem;
  display: flex;
  align-items: center;
  min-height: 3rem;
  padding: 0 1rem;
  transform: rotate(-90deg)
}

.dark-ranger__path {
  position: relative;
  width: 100%;
  height: .25rem;
  background-color: #6d787e
}

.dark-ranger__trail {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #2ce080
}

.dark-ranger__thumb {
  position: absolute;
  top: -100%
}

.dark-ranger--rounded .dark-ranger__path {
  border-radius: 2px
}

.dark-ranger--rounded .dark-ranger__trail {
  border-radius: 2px
}

.dark-ranger--dark .dark-ranger__trail {
  background-color: #2ce080
}

.dark-ranger--dark .dark-ranger__path {
  background-color: #6d787e
}

.dark-ranger--light .dark-ranger__trail {
  background-color: #2ce080
}

.dark-ranger--light .dark-ranger__path {
  background-color: #e1e7ea
}

.audio-controls {
  display: flex
}

.audio-controls__wrapper {
  display: flex;
  justify-content: space-evenly;
  min-width: 18.125rem;
  margin: 0
}

@media(min-width: 768px) {
  .audio-controls__wrapper {
    min-width: 15.625rem
  }
}

@media(min-width: 1024px) {
  .audio-controls__wrapper {
    min-width: 17.9375rem;
    margin: 0 3rem
  }
}

.audio-controls__play,
.audio-controls__pause,
.audio-controls__previous,
.audio-controls__back,
.audio-controls__forward,
.audio-controls__next {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  cursor: pointer
}

.audio-controls__previous,
.audio-controls__back,
.audio-controls__forward,
.audio-controls__next {
  width: 1.5rem;
  height: 3rem
}

.audio-controls__play {
  width: 2.8125rem;
  height: 3rem;
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/play-0b26fe9051e870dd9209.png)
}

.audio-controls__play:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/play_filled-green-16636830b34323ed0e0b.svg)
}

@media(min-width: 1024px) {
  .audio-controls__play {
    width: 2.5rem;
    height: 3rem
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  .audio-controls__play {
    background-image: url(https://www.blinkist.com//packs/static/dark-reader2x/play-9a0ccd9f8f62fda7d4b5.png)
  }
}

.audio-controls__previous {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/previous-52c25b2765967f509773.png)
}

.audio-controls__previous:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/previous-green-1c8ff864260f1598715b.svg)
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  .audio-controls__previous {
    background-image: url(https://www.blinkist.com//packs/static/dark-reader2x/previous-db819b3e680688727121.png)
  }
}

.audio-controls__back {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/back-d23c70034be46bc74c8d.png)
}

.audio-controls__back:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/back-green-343373d6eea5239a0535.svg)
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  .audio-controls__back {
    background-image: url(https://www.blinkist.com//packs/static/dark-reader2x/back-162323b9939949c4e527.png)
  }
}

.audio-controls__forward {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/forward-bc54b3fa6c1100a3ed05.png)
}

.audio-controls__forward:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/forward-green-a72a8dfb062db7f66fd6.svg)
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  .audio-controls__forward {
    background-image: url(https://www.blinkist.com//packs/static/dark-reader2x/forward-b9d3a4bba069ea7cb412.png)
  }
}

.audio-controls__next {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/next-c1ce97d0619a1b1cdbc4.png)
}

.audio-controls__next:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/next-green-adac7b5080f04d13afa9.svg)
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  .audio-controls__next {
    background-image: url(https://www.blinkist.com//packs/static/dark-reader2x/next-e97a9659f09a904f4f60.png)
  }
}

.audio-controls__pause {
  width: 2.8125rem;
  height: 3rem;
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/pause-34726e860b66c03c8594.png)
}

.audio-controls__pause:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/pause-green-2b19233995aa9d31f045.svg)
}

@media(min-width: 1024px) {
  .audio-controls__pause {
    width: 2.5rem;
    height: 3rem
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  .audio-controls__pause {
    background-image: url(https://www.blinkist.com//packs/static/dark-reader2x/pause-4dbf9dab031de812c231.png)
  }
}

.audio-speed {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem
}

.audio-speed-clicker__item {
  padding: .5rem 1rem;
  color: #fff;
  font-weight: 500;
  font-size: .875rem;
  font-family: "CeraPRO";
  line-height: 1.3;
  cursor: pointer;
  transition: .4s
}

.audio-speed-clicker__item:first-child {
  padding-top: 1rem
}

.audio-speed-clicker__item:last-child {
  padding-bottom: 1rem
}

.audio-speed-clicker__sub-items {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: -moz-max-content;
  width: max-content;
  background-color: #042330
}

.audio-speed-clicker__item.active,
.audio-speed-clicker__item:hover {
  color: #2ce080
}

.audio-speed-clicker .fade-enter-active,
.audio-speed-clicker .fade-leave-active {
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: ease-in-out
}

.audio-speed-clicker .fade-enter,
.audio-speed-clicker .fade-leave-to {
  opacity: 0
}

.audio-speed-dropup__item:first-child {
  padding-top: 1rem
}

.audio-speed-dropup__item:last-child {
  padding-bottom: 1rem
}

.audio-speed-dropup__sub-items {
  position: absolute;
  bottom: 3rem;
  left: -0.5rem;
  display: flex;
  flex-direction: column-reverse;
  width: -moz-max-content;
  width: max-content;
  background-color: #042330;
  border-radius: 4px
}

.audio-speed-dropup__item.active,
.audio-speed-dropup__item:hover {
  color: #2ce080
}

.audio-speed-dropup .fade-enter-active,
.audio-speed-dropup .fade-leave-active {
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: ease-in-out
}

.audio-speed-dropup .fade-enter,
.audio-speed-dropup .fade-leave-to {
  opacity: 0
}

.reader-content {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
  max-width: 50rem
}

@media(min-width: 416px) {
  .reader-content {
    padding-left: 3rem;
    padding-right: 3rem
  }
}

@media(min-width: 1024px) {
  .reader-content {
    padding-left: 2.25rem;
    padding-right: 2.25rem
  }
}

.reader-content__text * {
  font-size: inherit;
  line-height: inherit
}

.reader-content strong {
  font-weight: bold
}

.reader-content ul {
  padding-left: 1rem;
  list-style: disc
}

.reader-content ol {
  list-style-type: decimal
}

.reader-content mark {
  background: #e6fc88;
  cursor: pointer
}

.reader-content li {
  margin-bottom: 1.5rem
}

.reader-content__headline {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  color: #03314b
}

.reader-content__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.reader-content__previous,
.reader-content__next {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  border: 0;
  cursor: pointer
}

.reader-content__previous {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/previous-blink-e45003a4f4b51a46df47.png)
}

.reader-content__previous:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/previous-blink-green-db0def6589ab7869ac0b.svg)
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  .reader-content__previous {
    background-image: url(https://www.blinkist.com//packs/static/dark-reader2x/previous-blink-a58c90b1c41736301edf.png)
  }
}

.reader-content__next {
  width: 3rem;
  height: 3rem;
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/next-blink-6aeb44cc09c7585e8cd5.svg)
}

.reader-content__next:hover {
  background-image: url(https://www.blinkist.com//packs/static/dark-reader/next-blink-green-1b122aee7fe04f7ea427.svg)
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  .reader-content__next {
    background-image: url(https://www.blinkist.com//packs/static/dark-reader2x/next-blink-a4308e365320fd368b2d.png)
  }
}

@media(min-width: 1024px) {
  .reader-content {
    padding-top: 2rem
  }
}

@media(min-width: 768px) {
  .reader-content__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
    padding-top: 4rem
  }

  .reader-content__headline {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #03314b;
    margin-bottom: 2rem
  }
}

.line-divider {
  width: 100%
}

.line-divider__line {
  height: 1px
}

.line-divider__line--light-grey {
  background: #bac8ce
}

.line-divider__line--lightest-grey {
  background: #e1e7ea
}

.line-divider__line--m {
  margin-bottom: 1.5rem
}

.line-divider__line--l {
  margin-bottom: 3rem
}